@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-rubik: var(--font-rubik-glitch);

  --color-bocchi-pink: #FA58B6;
  --color-kita-red: #E85257;
  --color-ryo-blue: #3666BA;
  --color-nijika-yellow: #F5D65A;
  --color-gloom-black: #121212;
  --color-anxiety-purple: #4A3C69;
}

:root {
  --background: #121212;
  --foreground: #ededed;
  --font-inter: "Inter", sans-serif;
  --font-rubik-glitch: "Rubik Glitch", system-ui;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}